path/to/large/file filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
electron-white-screen/node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
